<div class="main-content">
    <mat-card class="welcome-card">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Welcome to Library App</mat-card-title>
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <p>This is a library App for Demo use only</p>
            <p>This app is using Reactive Forms to handle forms and interfaces when creating data object arrays.</p>
            <p>This app is connecting to a .net Core 8 WebApi using API key token</p>
        </mat-card-content>
    </mat-card>
</div>
